Include/*
Lib/*
Scripts/*
share/*
__pycache__/*
_asyncio.pyd
_bz2.pyd
_ctypes.pyd
_decimal.pyd
_elementtree.pyd
_hashlib.pyd
_lzma.pyd
_msi.pyd
_multiprocessing.pyd
_overlapped.pyd
_queue.pyd
_socket.pyd
_sqlite3.pyd
_ssl.pyd
libcrypto-1_1.dll
libssl-1_1.dll
LICENSE.txt
pyexpat.pyd
python.exe
python3.dll
python37._pth
python37.dll
python37.zip
pythonw.exe
select.pyd
sqlite3.dll
unicodedata.pyd
vcruntime140.dll
winsound.pyd